{% extends 'base.html' %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
window.onload=function(){ 
    window.setTimeout(document.cartCheckout.submit.bind(document.cartCheckout), 5000);
};
</script>

    {% if msg %}
        <p>{{msg}}</p>

    {% else %}
        <form method="POST" name='cartCheckout'>
            {{ form.hidden_tag() }}
            {% for field in form %}
                <tr>
                {% if field.name == "csrf_token" or field.name == "blah"  %} 
                    
                    <p></p>
                {% elif field.name == "submit" %}
                    {{ form.submit(class="btn btn-primary") }}
                {% else %}
                    <td>{{ field.label(class="form-label") }}</td>
                    <td>{{ field(class="form-label") }}</td>
                    <br/>
                
                
                {% endif %}
                </tr>
            {% endfor %}
        </form>
    {% endif %}
{% endblock %}

