{% extends 'base.html' %}

{% block content %}
    {% if msg %}
        <p>{{msg}}</p>

    {% else %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {% for field in form %}
                <tr>
                {% if field.name == "csrf_token" or field.name == "blah"  %} 
                    
                    <p></p>
                {% elif field.name == "submit" %}
                    {{ form.submit(class="btn btn-primary") }}
                {% else %}
                    <td>{{ field.label(class="form-label") }}</td>
                    <td>{{ field(class="form-label") }}</td>
                    <br/>
                
                
                {% endif %}
                </tr>
            {% endfor %}
        </form>
    {% endif %}
{% endblock %}

