{% extends 'base.html' %}

{% block content %}
{% if login_success == 0 %}
    <h1>User not found! Please SignIn.</h1>
{% else %}
    
    <form method="POST">
        <!-- csrf token -->
        {{ form.hidden_tag() }}
        <!-- login form -->
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <br/>
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    

{% endif %}
{% endblock %}