{% extends 'base.html' %}

{% block content %}
    {% if projects_exists %}
        {% for project,value in projects.items() %}
           
                    <a href = '/{{active_user}}/{{project}}/form/{{projects[project].cards[projects[project].ordering["Start"]].answer_type}}/{{projects[project].cards[projects[project].ordering["Start"]].id}}' >{{projects[project].project_name}}</a>
                    <br/>
               
        {% endfor %}
        <a href='/createproject'><button> Create New Project</button></a>
    {% else %}
        <a href='/createproject'>Create your first form</a>
    {% endif %}
{% endblock %}

